<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    References
    - Silence logging output from tests
      https://doc.akka.io/docs/akka/current/typed/testing-async.html#silence-logging-output-from-tests
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] [%logger] [%marker] [%thread] - %msg MDC: {%mdc}%n</pattern>
        </encoder>
    </appender>

    <!--
    Logging from tests are silenced by this appender. When there is a test failure
    the captured logging events are flushed to the appenders defined for the
    akka.actor.testkit.typed.internal.CapturingAppenderDelegate logger.
    -->
    <appender name="CapturingAppender" class="akka.actor.testkit.typed.internal.CapturingAppender" />

    <!--
    The appenders defined for this CapturingAppenderDelegate logger are used
    when there is a test failure and all logging events from the test are
    flushed to these appenders.
    -->
    <logger name="akka.actor.testkit.typed.internal.CapturingAppenderDelegate" >
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--
      Use INFO level instead of DEBUG.
      Since DEBUG level requires us to so much memory, turn the level to DEBUG if we want to see logs.
    -->
    <root level="INFO">
        <appender-ref ref="CapturingAppender"/>
    </root>
</configuration>
